.App {
  text-align: center;
}
*{
    margin:0px;
    padding: 0px;
    }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: #EEF2F7;
}

.show-employee-nav{
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 20px;
  color: rgba(8, 120, 8, 0.853);
  font-weight: 700;
  padding: 12px;
  /* background-color: white; */
  border-radius: 10px;
  transition: 400ms;
}
.show-employee-nav:hover {
  background-color: rgba(8, 120, 8, 0.853);
  color: white;
  border-radius: 10px;
}


.add-employee-nav{
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding: 12px;
  background-color: rgba(8, 120, 8, 0.853);
  border-radius: 10px;
  transition: 300ms;
}

.add-employee-nav:hover {
  background-color: rgba(8, 120, 8, 0.853);

  color: rgba(6, 3, 3, 0.724);
  border-radius: 10px;
}


.backG{
  background-color: rgba(193, 20, 20, 0.725);
}

#resume{
  text-decoration: none;
  color: rgb(132, 182, 123);
  font-weight: 500;
  transition: 150ms;
}
#resume:hover{
  color:rgba(8, 120, 8, 0.853)
}

#url{
  text-decoration: none;
  color: rgb(10,102,194);
  font-weight: 500;
  transition: 150ms;
}
#url:hover{
  color:rgb(76, 71, 163)
}

.data-box{
  @media (max-width: 600px){
    flex-direction:column !important;
  }
}

.detail-box{
  text-align: center;
  border: 1px solid darkgrey;
  border-radius: 12px;
  background-color: rgb(250,250,250);
  transition: 500ms;
}
.detail-box:hover{
  background-color: rgba(8, 120, 8, 0.853);
  cursor:pointer;
}
.detail-box:hover .number{
  color:whitesmoke
}

.number{
  color:rgb(12,170,65);
  font-size: 4.5rem;
  font-weight: 600;
}
/* .mobile{
  display: none;
} */

@media (max-width:768px){
  .check{
    display: none;
  }
  /* .mobile{
    display: block;
  } */
}

